<form>
  <div class="container">

    <div class="col-md-3 col-md-offset-4">
      <div class="form-group ">
        <label for="vehicleNo">Vehicle No.</label>
        <input type="text" class="form-control" id="vehicleNo" required>
      </div>
      <div class="form-group">
        <label for="pan">PAN</label>
        <input type="text" class="form-control" id="pan" required>
      </div>
      <div class="form-group spacer-25">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    <app-truck-update-details></app-truck-update-details>
  </div>
</form>