<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2 col-md-push-5 scrollbar">
      <div class="">
        <label for="selectAll-check"  class="checkboxcontainer" (change)="selectAllCheckbox($event)">
      <input id="selectAll-check" type="checkbox" [(ngModel)]="selectedAll" />
         <span class="checkmark"></span>
              Select Builty Numbers
            </label>
      </div>
      <div *ngFor="let builtys of builtyList">
        <label for="{{builtys.builtyNo}}-check" class="checkboxcontainer">
      <input id="{{builtys.builtyNo}}-check" [checked]="selectAll" type="checkbox" (change) = "updatecheckBoxList(builtys, $event)" [(ngModel)] ="builtys.selected" />
             <span class="checkmark"></span>
              {{builtys.builtyNo}}
            </label>
      </div>
    </div>
  </div>
  <button type="button" name="Show" class="btn btn-primary" (click)="showAllRunningDo()">Show</button>
</div>
<div *ngIf="isbuiltytablevisible; then showbuiltyTable">
</div>

<ng-template #showbuiltyTable>
  <app-builty-receipt-update [builtyList]= runningbuiltiesInTable [builtyListProperties]= builtyListProperties></app-builty-receipt-update>
</ng-template>