<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6">
          <strong>UPDATE TRUCK DETAILS</strong>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <form>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="vehicleNo">Vehicle No</label>
            <input class="form-control" type="text" id="vehicleNo" value="" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="pan">PAN</label>
            <input class="form-control" type="text" id="pan" value="" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="scanNo">Scan No</label>
            <input class="form-control" type="text" id="scanNo" value="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="ownerName">Owner Name</label>
            <input class="form-control" type="text" id="ownerName" value="" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="fatherName">Father\Husband\C/O</label>
            <input class="form-control" type="text" id="fatherName" value="" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="address">Address</label>
            <input class="form-control" type="text" id="address" value="" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="city">City</label>
            <input class="form-control" type="text" id="city" value="" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="district">District</label>
            <input class="form-control" type="text" id="district" value="" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="mobile">Mobile</label>
            <input class="form-control" type="number" id="mobile" value="" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="accountNumber">Bank A/C No</label>
            <input class="form-control" type="number" id="accountNumber" value="">

          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="accountHolder">Account Holder Name</label>
            <input class="form-control" type="text" id="accountHolder" value="">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="ifscCode">IFSC Code</label>
            <input class="form-control" type="text" id="ifscCode" value="">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">

            <button  type="button" class="btn btn-primary p-spacer-top-20" id="addAccount">Add account</button>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="rcCopy">RC Copy</label>
            <input class="form-control" type="file" id="rcCopy" value="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="panCopy">PAN Copy</label>
            <input class="form-control" type="file" id="panCopy" value="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="declaration">Declaration</label>
            <input class="form-control" type="file" id="declaration" value="">
          </div>
        </div>
      </div>
      <button class="btn btn-primary" type="submit" name="update">Update</button>
    </form>
  </div>
</div>
