<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6">
        <strong>UPDATE TRUCK DETAILS</strong>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <form [formGroup]="truckUpdateForm">
      <strong>Truck Information</strong>
      <br>
      <br>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="panc">PAN</label>
            <input class="form-control" type="text" id="panc" value="" formControlName="pan">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="panCopyLink">Pan Copy Link</label>
            <input class="form-control" type="text" id="panCopyLink" value="" formControlName="panCopyLink">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="declarationLink">Declaration Link</label>
            <input class="form-control" type="text" id="declarationLink" value="" formControlName="declarationLink">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="ownerName">Owner Name</label>
            <input class="form-control" type="text" id="ownerName" value="" formControlName="ownerName">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="fatherName">Father\Husband\C/O</label>
            <input class="form-control" type="text" id="fatherName" value="" formControlName="fatherName">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="tds">TDS</label>
            <input class="form-control" type="text" id="tds" value="" formControlName="tds">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="address">Address</label>
            <input class="form-control" type="text" id="address" value="" formControlName="address">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="city">City</label>
            <input class="form-control" type="text" id="city" value="" formControlName="city">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="district">District</label>
            <input class="form-control" type="text" id="district" value="" formControlName="district">
          </div>
        </div>
      </div>
      <hr>

      <strong>Bank Information</strong>
      <br>
      <br>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="accountNumber">Bank A/C No</label>
            <input class="form-control" type="number" id="accountNumber" value="" formControlName="accountNumber">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="accountHoldername">Account Holder Name</label>
            <input class="form-control" type="text" id="accountHoldername" value="" formControlName="accountHoldername">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="ifscCode">IFSC Code</label>
            <input class="form-control" type="text" id="ifscCode" value="" formControlName="ifscCode">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="bankname">Bank Name</label>
            <input class="form-control" type="text" id="bankname" value="" formControlName="bankname">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="adddedAccountName">Added Accounts</label>
            <select class="form-control" name="adddedAccountName" id="adddedAccountName" formControlName="adddedAccountName">
              <option *ngFor="let acc of addedBankAccounts" [value]="acc.accountNumber">{{acc.accountNumber}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <button type="button" class="btn btn-primary spacer-top-12" id="addAccount" (click)="addAccountByBankName()">Add account</button>
          </div>
        </div>
      </div>

      <hr>
      <strong>Upload Copies</strong>
      <br>
      <br>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="rcCopy">RC Copy</label>
            <input class="form-control" type="file" id="rcCopy" value="" formControlName="rcCopy">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="panCopy">PAN Copy</label>
            <input class="form-control" type="file" id="panCopy" value="" formControlName="panCopy">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="declaration">Declaration</label>
            <input class="form-control" type="file" id="declaration" value="" formControlName="declaration">
          </div>
        </div>
      </div>
      <button class="btn btn-primary" type="submit" name="update">Update</button>
    </form>
  </div>
</div>