<div class="row">
  <div class="col-xs-4 col-md-6 col-md-push-6">
    <div class="">
      <input id="selectAll-check" class="icon-checkbox" type="checkbox" />
      <label for="selectAll-check" >
              <span class='glyphicon glyphicon-unchecked unchecked'></span>
              <span class='glyphicon glyphicon-check checked'></span>
              Select All DO
            </label>
    </div>
    <div *ngFor="let activeDO of activeDoList">
      <input id="{{activeDO.doId}}-check" [checked]="selectAll"  type="checkbox" />
      <label for="{{activeDO.doId}}-check" (click)="activeDO.selected = !activeDO.selected" class="container">
               {{activeDO.doId}}
            </label>
    </div>
    <div>
      <button type="button" name="Proceed"  class="btn btn-primary">Proceed</button>
    </div>
  </div>
</div>
<!-- <h1>Custom Checkboxes</h1>
<label class="container">One
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label>
<label class="container">Two
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Three
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Four
  <input type="checkbox">
  <span class="checkmark"></span>
</label> -->
<br>

<div *ngIf="isrunningDoTablevisible; then showTable">
</div>

<ng-template #showTable>
  <app-do-running-list [activeDoProperties] = activeDoProperties [activeDoList] = activeDoList  ></app-do-running-list>
</ng-template>